body {
  background-color: rgb(249, 135, 135);
  max-width: 900px;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  font-family: arial;
}

h1 {
  border: solid;
  border-width: 3px;
  padding: 12px;
}

h2 {
  margin-bottom: 2px;
}

h3 {
  margin: 0.5em;
}

p {
  margin-top: 2px;
}

img {
  display: block;
  max-width: 577px;
  max-height: 341px;
  margin: auto;
}

ul {
  margin-top: 0em;
  margin-bottom: 1em;
  list-style: none;
}

.centered-body {
  max-width: 750px;
  margin: auto;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  padding: 7px;
  border-top: 3px solid;
  border-bottom: 3px solid;
}

.author-links,
#link {
  display: flex;
  justify-content: space-between;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.link-box {
  display: flex;
  border: 3px solid;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 1;
  align-items: center;
  align-content: center;
}

#link {
  display: flex;
  gap: 2em;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#bottom-nav {
  display: flex;
  gap: 1em;
}
